@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    button {
        @apply bg-tapeWhite rounded-full p-[10px] text-tapeBlack;
    }

    input {
        @apply bg-tapeWhite border-tapeBlack;
    }
}

/* || Reset styles */

body {
    width: 100%;
    height: 100%;
    font-family: "Darker Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

/* Root styles */

:root {
    /* COLORS */
    --tapeBlack: #151515;
    --tapeBlack: #1B1B1B;
    --tapeGreen: #00A97C;
    --tapePink: #EE87B5;
    --tapeOrange: #FE7B27;
    --darkGrey: #87888A;
    --mediumGrey: #BCBDC0;
    --mediumLight: #E5E7EB;
    --lightGrey: #F2F4F7;
    --lighterGrey: #F8F9FA;
    --tapeWhite: #ffffff;

    /* FONT SIZES */
    --font-xlarge: 2.4rem;
    --font-large: 2rem;
    --font-medium: 1.6rem;
    --font-small: 1.2rem;
    --font-xsmall: 1rem;
    --font-xxsmall: 0.9rem;

    /* FONT WEIGHT */
    --bold: 600;
    --regular: 400;
    --light: 200;
}