#carousel {
    background-color: hsla(48, 99%, 61%, 1);
        background-image:
            radial-gradient(at 11% 87%, hsla(48, 99%, 61%, 1) 0px, transparent 50%),
            radial-gradient(at 58% 13%, hsla(328, 100%, 79%, 1) 0px, transparent 50%),
            radial-gradient(at 0% 50%, hsla(48, 99%, 61%, 1) 0px, transparent 50%),
            radial-gradient(at 26% 98%, hsla(340, 100%, 76%, 1) 0px, transparent 50%),
            radial-gradient(at 0% 70%, hsla(48, 99%, 61%, 1) 0px, transparent 50%),
            radial-gradient(at 67% 33%, hsla(328, 100%, 79%, 1) 0px, transparent 50%),
            radial-gradient(at 6% 5%, hsla(48, 99%, 61%, 1) 0px, transparent 50%);
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 30px;
}